/* MODAL */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 99999;
}

.modalContent {
    width: 500px;
    background: #fff;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    max-height: 90vh;
    overflow-y: auto;
}

.modal-tabs {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.tab {
    background: #ccc;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    border: none;
}

.tab.active {
    background: #1e88e5;
    color: white;
}

.tabContent {
    display: none;
}

.tabContent.active {
    display: block;
}

.modalClose {
    margin-top: 20px;
    width: 100%;
}

/* Avatar */
#modal img, #m_avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto 15px auto;
    display: block;
}
