/* Users page style fix */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px 12px;
    border: 1px solid #aaa;
}

input[type="text"] {
    padding: 8px;
    width: 250px;
}
